@font-face{
	font-family: 'Rounded Elegance';
		src: url('../fonts/Rounded_Elegance.eot'); /* Modo compatível com IE 9 */
		src: url('../fonts/Rounded_Elegance.eot?#iefix') format('embedded-opentype'), /* IE6 e IE8 */
				url('../fonts/Rounded_Elegance.woff2') format('woff2'), /* Browsers mais recentes */
				url('../fonts/Rounded_Elegance.woff') format('woff'), /* Browsers recentes */
				url('../fonts/Rounded_Elegance.ttf')  format('truetype'), /* Safari, Android e iOS */
				url('../fonts/Rounded_Elegance.svg#svgFontName') format('svg'); /* iOS anteriores */
}